$primary-color: (
  'hight': #1e106a,
  'normal': #442eb7,
  'medium': #5f49d1,
  'light': #e6e3f0,
  'other': #f1c4ff,
);

$secondary-color: (
  'normal': #2e9e40,
  'medium': #3ac651,
);

$primary-color-2: (
  'normal': #222222,
  '75': #737373,
  '50': #cccccc,
  '25': #eeeeee,
  'light': #f5f5f5,
);

$shadow: 2px 2px 3px #1e106a40;